{% extends "insta_app/base.html"%}

{% block content %}
<h1>Your pictures</h1>
<div class="row">
    {% for picture in pictures %}
    <div class="card" style="width: 18rem;">
        <img src="/media/{{picture.path}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{picture.path}}</h5>
            <p class="card-text">
                {{picture.description}}
            </p>
            <a href="{% url 'insta_app:edit' picture.id %}" class="btn btn-warning">Edit</a>
            <a href="{% url 'insta_app:remove' picture.id %}" class="btn btn-danger">Delete</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}